html {
  font-size: 22px;
  padding: 0 1.9rem; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 20px; } }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 18px; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 16px; } }

.container {
  max-width: 50.63636rem; }

.article {
  max-width: 41.81818rem;
  margin: 0 auto;
  padding-left: 28.6%;
  position: relative; }
  .article p {
    font-size: 1rem;
    line-height: 1.364rem;
    padding: 0 0 1rem;
    margin: 0; }
  .article h2 {
    font-size: 1rem;
    line-height: 1.364rem;
    padding: 0 0 1rem;
    margin: 0; }
  .article blockquote {
    border: 1px solid #000;
    border-width: 1px 0;
    padding: 1.5rem 0 1.5rem;
    margin: 1rem 0 2rem -53%;
    text-align: center; }
    .article blockquote, .article blockquote p {
      font: 2.045rem/1.3 Palatino Linotype, Book Antiqua3, Palatino, Georgia, serif; }
    .article blockquote p:first-child {
      padding-top: 0; }
    .article blockquote p:last-child {
      padding-bottom: 0; }
  .article aside {
    position: absolute;
    max-width: 25%;
    left: 0; }
    .article aside, .article aside p {
      font-size: 0.727rem;
      line-height: 1rem; }
  .article figure {
    padding: 0.364rem 0 0 0; }
    .article figure figcaption {
      padding-top: 0.3rem;
      padding-bottom: 1rem; }
      .article figure figcaption, .article figure figcaption p {
        font-size: 0.727rem;
        line-height: 1rem; }
    .article figure.full {
      margin-left: -53%; }
      .article figure.full figcaption {
        padding-left: 34.6%; }
  @media only screen and (max-width: 800px) {
    .article {
      padding-left: 0; }
      .article aside {
        position: static;
        max-width: 100%; } }
