$base-font-size: 22px;
$container-width-px: 1114px;
$article-width-px: 920px;
$container-width: ($container-width-px/$base-font-size) * 1rem;
$article-width: ($article-width-px/$base-font-size) * 1rem;
html {
  font-size: $base-font-size;
  padding: 0 1.9rem;
  @media only screen and (max-width: 1200px) {
    font-size: $base-font-size - 2px;
  }
  @media only screen and (max-width: 1000px) {
    font-size: $base-font-size - 4px;
  }
  @media only screen and (max-width: 800px) {
    font-size: $base-font-size - 6px;
  }
}
.container {
  max-width: $container-width;
}
.article {
  max-width: $article-width;
  margin: 0 auto;
  padding-left: 28.6%;
  position: relative;
  p {
    font-size: 1rem;
    line-height: 1.364rem;
    padding: 0 0 1rem;
    margin: 0;
  }
  h2 {
    font-size: 1rem;
    line-height: 1.364rem;
    padding: 0 0 1rem;
    margin: 0;
  }
  aside {
    position: absolute;
    max-width: 25%;
    left: 0;
    &, p {
      font-size: 0.727rem;
      line-height: 1rem;
    }
  }

  @media only screen and (max-width: 800px) {
    padding-left: 0;
    aside {
      position: static;
      max-width: 100%;
    }
  }
}