$base-font-size: 22px;
$container-width-px: 1114px;
$article-width-px: 920px;
$container-width: ($container-width-px/$base-font-size) * 1rem;
$article-width: ($article-width-px/$base-font-size) * 1rem;
html {
  font-size: $base-font-size;
  padding: 0 1.9rem;
  @media only screen and (max-width: 1200px) {
    font-size: $base-font-size - 2px;
  }
  @media only screen and (max-width: 1000px) {
    font-size: $base-font-size - 4px;
  }
  @media only screen and (max-width: 800px) {
    font-size: $base-font-size - 6px;
  }
}
.container {
  max-width: $container-width;
}
.article {
  max-width: $article-width;
  margin: 0 auto;
  padding-left: 28.6%;
  position: relative;
  p {
    font-size: 1rem;
    line-height: 1.364rem;
    padding: 0 0 1rem;
    margin: 0;
  }
  h2 {
    font-size: 1rem;
    line-height: 1.364rem;
    padding: 0 0 1rem;
    margin: 0;
  }
  blockquote {
    border: 1px solid #000;
    border-width: 1px 0;
    padding: 1.5rem 0 1.5rem;
    margin: 1rem 0 2rem -53%;
    text-align: center;
    &, p {
      font:600 2.045rem/1.3 'IBM Plex Serif', Palatino Linotype, Book Antiqua3, Palatino, Georgia, serif;
    }
    p:first-child {
      padding-top: 0;
    }
    p:last-child {
      padding-bottom: 0;
    }
  }
  aside {
    position: absolute;
    max-width: 25%;
    left: 0;
    padding-top: 0.15rem;
    &, p {
      font-size: 0.727rem;
      line-height: 1rem;
    }
  }
  figure {
    padding: 0.364rem 0 0 0;
    figcaption {
      padding-top: 0.3rem;
      padding-bottom: 1rem;
      &, p {
        font-size: 0.727rem;
        line-height: 1rem;
      }
      p:first-child {
        padding-top: 0;
      }
      p:last-child {
        padding-bottom: 0;
      }
    }
    &.full {
      margin-left: -53%;
      figcaption {
        padding-left: 34.6%;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    padding-top: 0;
    padding-left: 0;
    aside {
      position: static;
      max-width: 100%;
    }
  }
}