@import '_variables.scss';

footer {
  padding: rem(40px) 0 rem(60px);
  .article {
    p.credits {
      padding: rem(20px) 0 rem(15px);
    }
    .credits--list {
      margin: 0;
      padding: 0 0 rem(20px);
      list-style-type: none;
      li {
        margin: 0;
        padding: 0 0 rem(15px);
        &:before {
          content: '';
          display: inline-block;
          vertical-align: bottom;
          width: rem(22px);
          height: rem(22px);
          background: #fff url(../img/ico-telegram.png) center center no-repeat;
          background-size: rem(22px) rem(22px);
        }
      }
    }
  }
}
.footer-copyright {
  .article aside {
    padding-top: 0;
  }
  .article {
    p {
      font-size: rem(18px);
    }
  }
}
.article-teasers {
  margin: 0 auto;
  max-width: $article-width;
}
.article-teaser-list {
  margin: 0 rem(-20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.article-teaser {
  flex: 1;
  width: 0;
  margin: 0 rem(20px) rem(40px) rem(20px);
  min-width: 320px;
}
@media only screen and (max-width: 667px) {
  .article-teaser-list {
    display: block;
    margin: 0;
  }
  .article-teaser {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}