@import '_variables.scss';

html {
  font-size: $base-font-size;
  line-height: 1.15;
  @media only screen and (max-width: 1200px) {
    font-size: $base-font-size - 1px;
  }
  @media only screen and (max-width: 960px) {
    font-size: $base-font-size - 2px;
  }
  @media only screen and (max-width: $width-breakpoint) {
    font-size: $base-font-size - 3px;
  }
}

p, ul, ol, li {
  font-size: rem(22px);
}

a {
    @include link($link-color, $link-border-color, $link-color, #fff, 2px);
}

@import "_header.scss";
@import "_footer.scss";

.article .likely + p {
    padding-top: rem(20px);
}
.link__channel {
    @include link-reset();
    display: inline-block;
    border: 1px solid $link-color;
    border-radius: rem(5px);
    text-decoration: none;
    padding: rem(5px) rem(10px);
    font-size: rem(24px);
    &:hover, &:focus {
        background: $link-color;
        border-color: $link-color;
        color: #fff;
    }
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
